<div class="tool-container">
  <div class="title">Tools</div>
  <div>
    <div>
      <label>Gooey Footer Color</label>
      <input type="color" [(ngModel)]="gooeyFooterColor" (ngModelChange)="changeColor($event, '--gooeyFooterColor')" />
    </div>
    <div>
      <label>Gooey Bubble Color</label>
      <input type="color" [(ngModel)]="gooeyBubbleColor" (ngModelChange)="changeColor($event, '--gooeyBubbleColor')" />
    </div>
  </div>
</div>

<div class="text-container">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae vestibulum enim. Curabitur mollis lectus ipsum, vitae vestibulum felis aliquet eu. Nullam erat felis, vehicula quis ultricies at, vestibulum id sem. Phasellus tincidunt nibh eget turpis consectetur, a laoreet odio ultricies. Donec malesuada auctor faucibus. Sed ac viverra tortor. Vivamus ligula risus, consequat ut libero quis, commodo commodo eros. Vivamus euismod metus metus, eget tempor ligula sagittis in. Cras maximus feugiat ipsum nec finibus. Nullam nec nunc aliquam, laoreet orci malesuada, porta sem. Maecenas consectetur dapibus sapien eget tristique. Quisque neque dui, consequat id commodo ut, feugiat eget ligula. Praesent eget scelerisque eros, cursus viverra augue. Fusce nibh est, porttitor et ullamcorper ut, tincidunt nec eros. Aliquam vel interdum odio.</p>

  <p>Donec et feugiat nunc. Suspendisse vestibulum elit dui, ac viverra mi mollis ac. Mauris gravida efficitur metus dignissim lobortis. Nam ac varius felis. Aliquam ac accumsan arcu. In a turpis a lacus varius maximus. Phasellus quis ultricies sem. Suspendisse id mi vulputate, ultricies elit et, cursus magna. Duis porttitor auctor metus, ac interdum quam placerat quis. Vestibulum mauris sapien, malesuada ut lacinia nec, cursus ut ipsum. Duis diam neque, commodo et elementum eu, fringilla interdum est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;</p>

  <p>Aenean imperdiet tincidunt ullamcorper. Morbi eu erat nec orci imperdiet varius. Phasellus egestas diam ut aliquet efficitur. Nulla pharetra lectus sem, ac facilisis leo elementum id. Phasellus at neque ligula. Vivamus quis neque suscipit quam ultricies elementum sit amet in arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin venenatis purus at magna porta pharetra. Integer purus lorem, sollicitudin vitae tortor sit amet, volutpat vulputate turpis. Nulla in dictum tortor. Ut at arcu eget tortor feugiat semper in id orci. Phasellus laoreet, odio euismod volutpat feugiat, odio lectus porta velit, quis sagittis dui arcu in dui. Vestibulum euismod sapien a posuere maximus. Pellentesque blandit quam turpis.</p>

  <p>Praesent massa tellus, varius quis dui non, fermentum hendrerit ipsum. Ut tempus turpis imperdiet rhoncus tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in eleifend lacus, quis interdum ex. Morbi quis lectus at lacus imperdiet fringilla. Integer neque purus, laoreet et viverra eu, euismod id dui. Aliquam blandit dapibus velit, et porta velit vestibulum porttitor. Etiam consequat bibendum turpis ut tincidunt. Quisque porta risus ac eros porta, a suscipit elit mattis.</p>

  <p>Aenean at tempor nisl. Aliquam erat volutpat. Mauris ultricies iaculis quam, non tincidunt est blandit sit amet. Nulla molestie gravida magna vitae faucibus. Maecenas at ante vel metus efficitur viverra. Aenean scelerisque turpis eu urna blandit, placerat imperdiet justo pretium. Vestibulum sit amet ante condimentum diam pharetra aliquet ac nec nisl. Vivamus volutpat massa nunc, eget lacinia magna commodo ut. Duis id elit finibus, tempus mauris non, semper purus. Suspendisse condimentum augue ut dolor mattis, vitae vestibulum mi lacinia. Nulla id sodales metus, condimentum hendrerit metus. Maecenas et magna justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac pretium purus.</p>

  <p>Proin venenatis volutpat sodales. Fusce eget ligula interdum, dignissim sapien et, feugiat neque. Morbi placerat interdum fermentum. Proin elementum elit dignissim ex congue, condimentum congue elit volutpat. In mauris diam, facilisis sit amet dolor eu, volutpat interdum orci. Proin at dui interdum, iaculis ipsum at, maximus tortor. Sed mattis dignissim tristique. Aliquam rutrum, quam vel maximus viverra, urna lacus aliquet ante, ac interdum arcu odio eu massa.</p>

  <p>Donec venenatis vulputate nulla, at mattis dui. Nunc accumsan laoreet nisi, sit amet tristique purus vestibulum molestie. In hac habitasse platea dictumst. Aliquam tempor placerat diam, quis scelerisque lacus efficitur non. Etiam ultricies, est non suscipit ornare, nisl massa hendrerit ligula, quis hendrerit elit felis sed metus. Nunc posuere mi felis, blandit pharetra lorem sodales sed. Etiam at magna rhoncus, faucibus turpis vitae, aliquet sapien. Morbi a tincidunt est. Proin nec vulputate orci. Suspendisse rhoncus ornare purus id varius. Aliquam ligula turpis, consequat eget iaculis sit amet, volutpat ac orci.</p>

  <p>Phasellus tincidunt risus fermentum dictum venenatis. Nullam finibus malesuada volutpat. Donec est metus, lobortis non porta sed, venenatis eget ipsum. Quisque ex est, aliquam et dui quis, blandit congue ipsum. Morbi sodales erat ut nulla tincidunt vulputate. Mauris luctus, felis in tempus facilisis, dui ipsum malesuada lacus, in congue lectus turpis at turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam erat volutpat. Cras id risus ligula. Phasellus eleifend at sem ultrices commodo. Proin quam ante, venenatis eu ligula eget, porta lobortis arcu. Vestibulum interdum nibh et massa faucibus, in tincidunt orci fringilla. Morbi fringilla sagittis metus. Proin pellentesque nec lectus eget tempor. Nulla nibh turpis, varius nec mi ac, dapibus porta elit. Sed ornare fringilla purus mollis posuere.</p>

  <p>Curabitur at tempor dui, et rutrum ex. Mauris sodales nibh nec nisl commodo, in feugiat nibh dapibus. Nam at est tincidunt, tempus metus ac, auctor felis. Suspendisse rhoncus nunc lorem, non efficitur erat aliquet vitae. Aenean ut facilisis metus. Nullam volutpat tempor dictum. Cras ultrices nunc sit amet dui vehicula, eu interdum neque accumsan. Fusce cursus posuere sem interdum maximus. Fusce eleifend tellus sit amet lacus consequat tincidunt.</p>

  <p>Aenean tellus nulla, molestie id ligula quis, imperdiet malesuada ligula. Nunc a erat sem. Nulla dui tellus, suscipit at risus ut, dignissim tincidunt ipsum. Fusce semper tellus et tellus dapibus semper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer mattis odio at elit efficitur dignissim. Mauris sed ipsum quis libero commodo consequat ac sed tortor. Maecenas gravida iaculis ipsum, non lobortis felis tempor at. Donec vehicula mi sed turpis lacinia, sed venenatis mauris aliquet. Vivamus malesuada cursus nisl ut bibendum. Praesent vulputate velit a lobortis imperdiet. Mauris mollis rhoncus neque.</p>
</div>

<div class="gooeys">
  <ul>
    <li *ngFor="let bubble of bubbles" class="gooey" 
    [style.left.%]="bubble.position.left"
    [style.bottom.px]="bubble.position.bottom"></li>
  </ul>	
  <footer></footer>
</div>

<div class="cover-footer">Gooey Footerland</div>

<svg style="display: none;">
  <defs>
    <filter id="filter">
      <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"/>
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="filter"/>
      <feComposite in="SourceGraphic" in2="filter" operator="atop"/>
    </filter>
  </defs>
</svg>