.container{
  width: 400px;
  margin: 0 auto 100px;
}

.text-container {
  @extend .container;
  text-align: justify;
}
.tool-container{
  @extend .container;
  text-align: center;
  .title{
    border-bottom: 1px solid black;
  }
  label{
    display: inline-block;
    margin-right: 5px;
    margin-top: 10px;
  }
  input[type=color]{
    position: relative;
    top: 3px;
  }
}

$footer-color: var(--gooeyFooterColor);
$footer-bubble-color: var(--gooeyBubbleColor);

footer {
  position: fixed;
  height: 30px;
  background: $footer-color;
  width: 100%;
  bottom: 0;
  filter: url(#filter);
}
.cover-footer {
  width: 100%;
  background: $footer-color;
  height: 25px;
  position: fixed;
  bottom: 0;
  color: white;
  text-align: center;
  padding-top: 5px;
}
li {
  list-style: none;
}
.gooey {
  width: 0px;
  height: 0px;
  transition: bottom 4s, width 2s ease, height 2s ease;
  animation: moveUp 6s forwards;
}
@keyframes moveUp {
  0% {
    background-color: $footer-color;
    transform: translateY(0px);
  }
  30% {
    background-color: $footer-color;
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(-20px);
    margin-left: -15px;
    width: 35px;
    height: 45px;
  }
  55% {
    margin-left: -20px;
    width: 40px;
    height: 35px;
  }
  70% {
    background-color: $footer-bubble-color;
    width: 35px;
    height: 40px;
  }
  100% {
    transform: translateY(-30px);
    margin-left: -15px;
    background-color: #fff;
    width: 0px;
    height: 0px;
  }
}

.gooeys {
  position: fixed;
  bottom: 0;
  width: 100%;
  filter: url(#filter);
}
.gooey {
  position: absolute;
  bottom: 0;
  background: $footer-color;
  border-radius: 50%;
}
